<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
    <div class="article-inner">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <img src="{{ .Params.banner | absURL }}" class="article-banner">
        {{ end }}

        {{ partial "article_header" . }}
        <div class="article-entry" itemprop="articleBody">
            {{ .Content }}
        </div>

        {{ partial "article_footer" . }}
    </div>
        <div id="likecoin_thread">
            <!-- <iframe src="https://button.like.co/tintinsnowy" float=center width=100% height="700"></iframe>  -->
            <iframe data-v-b66e9a5a="" src="https://button.like.co/in/embed/tintinsnowy/button?referrer=https://tintinsnowy.com/2019/10/08/" float=center width=100% height="300"></iframe>
           <!-- <script async defer crossorigin="anonymous" src="https://button.like.co/tintinsnowy" float=center width=100% height="700"></script> -->
        </div>

    {{ partial "prev_next_post" . }}
</article>

{{ if and (not (eq .Site.DisqusShortname "")) (not .Params.disable_comments) }}
<section id="comments">
    <div id="disqus_thread">
        {{ template "_internal/disqus.html" . }}
    </div>
</section>
{{ end }}